<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html>
    <head>
 
        

  
    </head>
    <body><title>TOP SHOwS</title> <h2>IMDB: Top 5 Episodes</h2>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <table border="solid" width="100%">
            <tr>
              <th>title</th>
              <th>episode</th>
              <th>rating</th>
              
            </tr>
            <tr style>
              <td>Breaking Bad
              </td>
              <td>200</td>
              <td>7</td>
            </tr>
            <tr style>
              <td>Naruto
              </td>
              <td>400</td>
              <td>10</td>
            </tr>
            <tr style>
              <td> Bad
              </td>
              <td>20</td>
              <td>8</td>
            </tr>
            
          </table>
  
        
    </body>
</html>